---
layout: default
title: "Dartosphere | Dart lang community"
slider: true
---

<section class="pure-u-18-24 content">
	 	<h2>Latest Blog Posts</h2>

	 	<div class="posts">
        {% for post in site.posts offset:0 limit:5 %}
        <section class="post">
            <header class="post-header">
                <h3 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h3>
            </header>

            <div class="post-description">
                <p>
                    <i>{{ post.author.name }}, on {{ post.date | date_to_string }}</i><br/>
					{{ post.content | strip_html | truncatewords: 100 }}

					<a href="{{ post.url }}" title="read more">read more</a>
                </p>
            </div>
        </section><!--end /.post-->
        {% endfor %}

        <div class="show-all-posts">
          <a href="/blog.html" title="Show all blog posts" class="trans">Show all blog posts</a>	

          <a href="/aggregate" class="trans">10 posts on one page</a>
        </div><!--end /.show-all-posts-->

    </div>
</section>


