---
layout: simple
title: Books on Dart
---

<h2>Books on Dart</h2>

<div class="featured-book">
	 	<h3>Reviewed books</h3>

	 	<div class="book-item clearfix">
	 	   <span class="photo"><img src="/img/books/dart-up-and-running.jpg" alt="Dart: Up and Running" /></span>
	 	   <h4><a href="/books/dart-up-and-running.html">Dart: Up and Running</a></h4>
	 	   <span class="meta-info">Kathy Walrath and Seth Ladd</span>
	 	   <p>This book is one of the kind you need to have on your desk until you know it from mind. It is an easy to read, easy to understand book which helps you to get started quickly. Don't expect Kathy &amp; Seth will explain object oriented paradigmas to you: it is really focused on the language itself. And one more thing worth to know: it's available online for reading at no charge.
	 	   </p>
	 	   <p><a href="/books/dart-up-and-running.html">Read the full review</a></p>
	 	   <a href="http://www.amazon.com/gp/product/1449330894/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=1449330894&linkCode=as2&tag=christgrobme-20&linkId=DIBEAL4TDMNZCKPE" rel="nofollow" class="trans">Buy now</a> 
	 	   <a href="http://www.dartlang.org/docs/dart-up-and-running/" rel="nofollow" class="trans">Read online</a> 
		   <a href="http://www.amazon.de/gp/product/1449330894/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&camp=1638&creative=6742&creativeASIN=1449330894&linkCode=as2&tag=neoteccde-21" rel="nofollow">Deutschland</a> 
	 	   
	   
	 	</div>

	 	<div class="book-item clearfix">
	 	   <span class="photo"><img src="/img/books/dart-in-action.jpg" alt="Dart in Action" /></span>
	 	   <h4><a href="/books/dart-in-action.html">Dart in Action</a></h4>
	 	   <span class="meta-info">Chris Buckett</span>
	 	   <p>This book is different than the usual boring programming books. It shows you more than just grammar and APIs. It shows you how to move in the Dart world. How you solve things. It's an enjoyable read from a very competent Dart programmer. If you want to learn Dart you already have the great docs on the website. But if you would like to get even more quickly into Dartlang, then you should definitely look at this book. Despite the language is still evolving, most of its content will be true for a long time. Attention: book is still good, but outdated.</p>

			<p><a href="/books/dart-in-action.html">Read the full review</a></p>

	 	   <a href="http://www.amazon.com/gp/product/1617290866/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&amp;camp=1789&amp;creative=9325&amp;creativeASIN=1617290866&amp;linkCode=as2&amp;tag=christgrobme-20" class="trans">Buy now</a> <a href="http://www.amazon.de/gp/product/1617290866/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&amp;camp=1638&amp;creative=6742&amp;creativeASIN=1617290866&amp;linkCode=as2&amp;tag=neoteccde-21">Deutschland</a>
	 	</div>

		<div class="book-item clearfix">
	 	   <span class="photo"><img src="/img/books/learning-dart.jpg" alt="Learning Dart" /></span>
	 	   <h4><a href="/books/learning-dart.html">Learning Dart</a></h4>
	 	   <span class="meta-info">Dzenan Ridjanovic, Ivo Balbaert</span>
	 	   <p>
				The book covers a lot of material and is pretty much good for anybody
				who really wants to dig deep into Dart. However the PacktPub editors
				didn't do a good job actually. The general formatting is sometimes
				pretty tough to read. A few glitches here and there which should have
				been identified took away some fun from reading it. If the editors
				would have reported these issues the book would be much, much better.
				But well, we are developers and for that reason we maybe can live
				with that.

				The content itself is interesting and shows quite a couple of great things.
				While the books title is "Learning Dart" it's not a book focused
				on the language itself. It's a book covering many aspects to
				learn to use Dart for daily programming. You should not be a total
				programming newbie to read this book.
	 	   </p>

			<p><a href="/books/learning-dart.html">Read the full review</a></p>

	 	   <a href="http://www.amazon.com/gp/product/1849697426/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=1849697426&linkCode=as2&tag=christgrobme-20&linkId=NLPKWD22YJMQUI5D" class="trans">Buy now</a> <a href="http://www.amazon.de/gp/product/B00HP4K7P2/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&camp=1638&creative=6742&creativeASIN=B00HP4K7P2&linkCode=as2&tag=neoteccde-21">Deutschland</a>
	 	</div>

	 </div>

	 <div class="list-books">
	 	<h3>More Dart Books</h3>

 	 <div class="pure-g">
 	 	<div class="pure-u-1-3">
 	 	   <a href="http://www.amazon.com/gp/product/0321927702/ref=as_li_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=0321927702&linkCode=as2&tag=christgrobme-20&linkId=TMFEWS3A7YQ3B22F"><img src="/img/books/the-dart-programming-language.jpg" alt="The Dart Programming Language" /></a>
 	 	   <p><a href="http://www.amazon.de/gp/product/0321927702/ref=as_li_ss_tl?ie=UTF8&camp=1638&creative=19454&creativeASIN=0321927702&linkCode=as2&tag=neoteccde-21">Amazon.de</a></p>
 	 	</div>
 	 	<div class="pure-u-1-3">
 	 	   <a href="http://www.amazon.com/gp/product/B007K0T824/ref=as_li_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=B007K0T824&linkCode=as2&tag=christgrobme-20&linkId=OQACSZKEUXNOZQD7"><img src="/img/books/what-is-dart.jpg" alt="What is dart?" /></a>
 	 	   <p><a href="http://www.amazon.de/gp/product/B007K0T824/ref=as_li_ss_tl?ie=UTF8&camp=1638&creative=19454&creativeASIN=B007K0T824&linkCode=as2&tag=neoteccde-21">Amazon.de</a></p>
 	 	</div>
 	 	<div class="pure-u-1-3">
 	 	   <a href="http://www.amazon.com/gp/product/1430264810/ref=as_li_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=1430264810&linkCode=as2&tag=christgrobme-20&linkId=MTHLTHJ7ZGPCRHAY"><img src="/img/books/dart-for-absolute-beginners.jpg" alt="Dart for Absolute Beginners" /></a>
 	 	   <p><a href="http://www.amazon.de/gp/product/1430264810/ref=as_li_ss_tl?ie=UTF8&camp=1638&creative=19454&creativeASIN=1430264810&linkCode=as2&tag=neoteccde-21">Amazon.de</a></p>
 	 	</div>
 	 	<div class="pure-u-1-3">
 	 	   <a href="http://www.amazon.com/gp/product/1937785033/ref=as_li_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=1937785033&linkCode=as2&tag=christgrobme-20&linkId=CAD5Q4R23ROXSED6"><img src="/img/books/dart-for-hipsters.jpg" alt="Dart for Hipsters" /></a>
 	 	   <p><a href="http://www.amazon.de/gp/product/B00A4I41EE/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&camp=1638&creative=6742&creativeASIN=B00A4I41EE&linkCode=as2&tag=neoteccde-21">Amazon.de</a></p>
 	 	</div>
 	 	<div class="pure-u-1-3">
 	 	   <a href="http://www.amazon.com/gp/product/1941222250/ref=as_li_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=1941222250&linkCode=as2&tag=christgrobme-20&linkId=LPKBMVRU3GCL4IV2"><img src="/img/books/dart1-for-everyone.jpg" alt="Dart 1 for everyone" /></a>
 	 	   <p><a href="http://www.amazon.de/gp/product/1941222250/ref=as_li_tl?ie=UTF8&camp=1638&creative=6742&creativeASIN=1941222250&linkCode=as2&tag=neoteccde-21">Amazon.de</a></p>
 	 	</div>
 	 </div>
	 	


	 </div><!--end /.list-books-->
